@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', monospace;
  background: linear-gradient(180deg, #b3e0ff 0%, #e0f7fa 100%);
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
